
@headerFont = Futura, 'Century Gothic', AppleGothic, sans-serif;
@bodyFont = 'Helvetica Neue', Arial, Helvetica, sans-serif;
@dateFont = Futura, 'Century Gothic', AppleGothic, sans-serif;;
@monospaceFont = "Lucida Sans Unicode", "Lucida Grande", sans-serif;

/* http://www.pearsonified.com/typography/ */
@contentWidth = 87.5rem;
@siteTitleSize = 7.2rem;
@tripTitleSize = 4.7rem;
@postTitleSize = 2.9rem;
@siteDescSize = 2.3rem;
@textSize = 1.8rem;
@footerSize = 1.4rem;
@textLineHeight = 2.9rem;
@dateSize = 1.6rem;

@bgColor = #fff;
@titleColor = #c2464c;
@textColor = #292929;
@minorTextColor = #a7a7a7;
@lineColor = #eeeeee;
@linkColor = #c2464c;
@linkHoverColor = #292929;
@noteBackgroundColor = #f7f7f7;



*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: @contentWidth+5rem) {
  html {
    margin-left: calc(~"100vw - 100%");
    margin-right: 0;
  }
}

html { font-size: 10px; }

body {
  background: @bgColor;
  color: @textColor;
  font-family: @bodyFont;
  font-size: @textSize;
  margin: 0;
}

h1, h2, h3 {  
  font-family: @headerFont;
}

pre, code {
  font-family: @monospaceFont;
 }

a:link,
a:visited {
  color: @linkColor;
  text-decoration: none;
}

a:hover,
a:active {  color: @linkHoverColor }

header {
  text-align: center;

  h1 {
    color: @titleColor;
    font-weight: bold;
    font-size: @siteTitleSize;
    line-height: 90%;
    margin-bottom: 3rem;
  
    a:link, a:visited {
      color: @titleColor;
      display: block;
    }
  
    a:hover, a:active {  
      color: @linkHoverColor 
    }
  }

  #description {
    color: @minorTextColor;
    font-family: @bodyFont;
    font-size: @siteDescSize;
    margin-bottom: 2rem;
  }
}


nav {
  margin: 1rem 0;
  text-align: center;

  a {
    font-family: @bodyFont;
    margin-right: 2rem;
  
    &:last-child {
      margin-right: 0; 
    }
  }
}


#pagination {  /* also a <nav> */
//  min-width: 15rem;
  margin: 4rem 0;
  white-space: nowrap;
 
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }  

  li {
    display: inline-block;
    margin: 0 0.3rem;
    padding: 0 1px;
    
    &.active {
      font-weight: bold;
      border-bottom: dotted 1px @linkColor;
    }
  }
}

#pager { /* also a <nav> */
  text-align: left;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}






#container {
  margin: 3rem auto;
  padding: 0 1rem;
  max-width: @contentWidth;
}

.homepage {
  margin-bottom: 8rem;
}

#posts {
  background-color: @bgColor;
  border-top: 1px solid @lineColor;
  border-bottom: 1px solid @lineColor;
  padding-top: 2rem;
/*  text-align: center; */
  line-height: @textLineHeight;
}

article {
  margin-bottom: 6rem;

  .date {
    font-size: @dateSize;
  }
}

.embed {
  position: relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height: 0;
  overflow: hidden;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  }
}

h2 {
  font-size: @postTitleSize;
//  padding-bottom: 1.5rem;
  margin-top: 0;
}



footer {
  text-align: center;
  font-size: @footerSize;
  margin-top: 3rem;
}

.cf:after {
  content:"";
  display:table;
  clear:both;
}




p {
  margin-bottom: 2.5rem;
  word-wrap: break-word;
}

h1 {
  font-size: @tripTitleSize;
}

/*
.content a {  border-bottom: 1px solid @lineColor }
.content a:hover {  border-bottom-width: 1px }
.content .photo a {  border: none !important }

.content ul,
.content ol {
  margin: 2rem;
  list-style-position: inside;
}

.content ul li {
  list-style: disc;
  list-style-position: inside;
}
*/


.tags {
  margin: 2rem 0 2rem 0;
  color: @minorTextColor;
}
.tags a {
  margin-left: 1.5rem;
  color: @minorTextColor;
  border-bottom: 1px solid @lineColor;
}
.tags a:hover {  color: @linkHoverColor }

a {  outline: none }

svg {  fill: currentColor }

body.photoswipe-enabled .photoset img {
  cursor: pointer;
}

.trip-box {
  display: table;
  width: 100%;
  height: 20rem;
  border: solid 1px #666;
  margin: 3rem 0;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  .trip-box-title {
    display: table-cell;
    vertical-align: middle;
    font-size: @tripTitleSize;
    color: #fff;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.4), -1px -1px 0 rgba(0,0,0,0.4), 1px -1px 0 rgba(0,0,0,0.4), -1px 1px 0 rgba(0,0,0,0.4), 1px 1px 0 rgba(0,0,0,0.4);
    font-weight: bold;
    letter-spacing: 0.3rem;
    padding: 1rem;
  }
}

body.no-touch .trip-box:hover .trip-box-title {
  background: rgba(0,0,0,0.25);
  background: -moz-radial-gradient(center,circle cover,rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.75) 100%);
  background: -webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,rgba(0,0,0,0.25)),color-stop(100%,rgba(0,0,0,0.75)));
  background: -webkit-radial-gradient(center,circle cover,rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.75) 100%);
  background: -o-radial-gradient(center,circle cover,rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.75) 100%);
  background: -ms-radial-gradient(center,circle cover,rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.75) 100%);
  background: radial-gradient(center,circle cover,rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.75) 100%);
}
